*
{
    margin:0;
    padding:0;     
}
body
{
    background-color: beige;
}

/* Beginning of header styles  */
header
{
    background-color: lightcoral;
    height: 20vh;
    width: 100vw;
}

#first_header
{
    height:12vh;
    background-color:lightgreen;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
}

#first_header button{
    padding: 15px 25px;
    border-radius: 10px;
}


#first_header input{
    width: 45%;
    height: 50px;
}


#second_header
{
    display: flex;    
    align-items: center;
    justify-content: space-between;
    height:8vh;
    width: 100%;
}
#second_header li
{
    display:inline;
    margin-left: 7px;
    margin-right: 7px;
}

#second_header li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
header #first_header img{
    height: 100px;
    width: 150px;

}

/* End of header styles */

/* Start on the main*/
section
{
  background-color: lightblue;
  width:100%;
  padding:20px;
  
}

#first_section{
    width: 90%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom:10px;
    flex-wrap: wrap;
}


.card
{
 background-color: white;
 color:black;
 height:500px;
 width:23%;
 padding:10px;
 border-radius: 15px;
 margin:10px;
 
}

.card:hover
{
  transform: scale(1.1);
}

.card_header
{
    height:10%;
}

.card_body
{
    height:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_body_2
{
    height:80%;
}
#my_image
{
    height:60%;
    width:100%;
}

#my_image img
{
  height: 100%;
}
.card_body_2 span button
{
    padding:5px 14px;
    background-color: red;
    color:white;
    font-size: larger;
    border-radius: 15px;
    margin-top: 20px;
    margin-right:10px;
}
.card_body_2 p
{
    font-size:large;
    margin-top: 10px;
}
.card_body_2 span b
{
    font-size: large;
}
.card_body_2 #image
{
  width:100%;
  height:100%;
}
.card_body div
{
  height:45%;
  width:45%;
  padding: 2px;
}

.card_body div img
{
  width: 99%;
  height: 80%;
}


.card_footer
{
    height:10%;
}
footer
{
    width:100%;
    color:white;
    
}

#back-to-top{
    height: 80px;
    background-color: rgb(2, 2, 45);
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#back-to-top a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#important-links
{
    background-color: rgba(0, 0, 6, 0.961);
    width: 100%;
}
#links-container, #services-container
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
}

.footer-link{
    width: 25%;    
}

.footer-link li{
    list-style-type: none;
}

.footer-link li a{
    color: white;
    font-size: 12px;
}

footer hr{
    color: grey;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 15px;
}
#important-links img{
    height: 50px;
    width: 90px;
}

.footer-button{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
}

#footer-button-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer-services
{
    background-color: rgba(1, 1, 11, 0.961);
    width: 100%;
}

.footer-service{
    width:16%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer-service a{
    display: block;
}

#footer-service-title{
    color: white;
    font-size: 15px;
}

#footer-service-sub-title{
    color: lightgrey;
    font-size: 13px;
}

#footer-copyright{
    padding-top: 15px;
    padding-bottom: 25px;

}

#footer-copyright p a{
    color: white;
}
.Best_seller
{
    background-color: white;
    padding:10px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.animations img
{
  height:250px;
  width:20%;
}
.animations
{
    display: flex;  
}
.shopper
{
    width:90%;
    margin-right: auto;
    margin-left:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.shopper_card
{
    background-color: white;
    width:24%;
    height:500px;
    padding:10px;
    border-radius: 10px;
}
.shopper_card h5 small b
{
    text-decoration: line-through;
}
.shopper_card h6
{
    margin-top:30px;
    margin-bottom:30px;
}
.shopper_card img
{
    width:100%;
    height:85%;
}
#shopper_card1_image
{
   height:60%;
}



